<!DOCTYPE html>
<html>
    <body>

        <h2>Deployemnt</h2>

        <form method="POST" action ='/predict'>
            <label for="preg">preg:</label><br>
            <input type="text" id="preg" name="fname" placeholder="preg" required='required'><br>
            <label for="plas">Last name:</label><br>
            <input type="text" id="plas" name="plas" placeholder="plas" required='required'><br>
            <label for="pres">pres:</label><br>
            <input type="text" id="pres" name="pres" placeholder="pres" required='required'><br>
            <label for="skin">skin:</label><br>
            <input type="text" id="skin" name="skin" placeholder="skin" required='required'><br><br>
            <label for="test">preg:</label><br>
            <input type="text" id="test" name="test" placeholder="test" required='required'><br>
            <label for="mass">Last name:</label><br>
            <input type="text" id="mass" name="mass" placeholder="mass" required='required'><br>
            <label for="pedi">pedi:</label><br>
            <input type="text" id="pedi" name="pedi" placeholder="pedi" required='required'><br>
            <label for="age">skin:</label><br>
            <input type="text" id="age" name="age" placeholder="age" required='required'><br><br>
            
            <button type="submit">Predict</button>
        </form>


    </body>
</html>
